@import url(http://fonts.googleapis.com/css?family=Jura);

$main-font: 'Jura', sans-serif;

* {
  font: 100% $main-font;
}

.splash-wrapper {
    min-height: 100vh;
    width: 100%;
    background-color: #222222;
    color: #DDFFEE;
}

.splash-title {
    padding-top: 70px;
    font-size: 60px;
    text-align: center;
}

.splash-logo {
    width: 400px;
    margin: auto;
}

.splash-text {
    text-align: center;
}
